
.elegirnos__art{
    width: 350px;
}

.elegir__icon{
    border: 0.25rem solid white;
    border-radius: 50%;
    font-size: 3.5rem;
    height: 100px;
    padding: 1.2rem;
    transition: 0.2s ease;
    width: 100px;
}

.elegir__icon:hover{
    background-color: rgba(241, 116, 12, .9);
}

.margin--top{
    margin-top: 60px;
}

.elegirnos--separador{
    padding: 0.5rem 0;
}